{% extends 'Base.html' %}

{% block title %} Početna stranica {% endblock %}

{% block sadrzaj %}
    <h1>JobsWorldWide</h1>
    <div>
    <p>
        Dobrodošli na našu web stranicu za traženje poslova! Ako ste u potrazi za novim profesionalnim izazovima ili želite napredovati u karijeri, na pravom ste mjestu. Naša platforma nudi širok spektar poslovnih prilika u različitim industrijama i za različite nivoe iskustva.    </p>
    <p>
        Počnite istraživati naše ponude i koristite naše alate za filtriranje kako biste pronašli poslove koji odgovaraju vašim potrebama i ambicijama. Počnite istraživati naše ponude i koristite naše alate za filtriranje kako biste pronašli poslove koji odgovaraju vašim potrebama i ambicijama.
    <p>
        Vaša sljedeća karijera može biti samo klik dalje!
    </p>

    </div>
{% endblock %}

{% block podnozje %}
    autor: FF
{% endblock %}