{% extends 'Base.html' %}

{% block title %} jobs {% endblock %}

{% block sadrzaj %}
    <content style="margin-bottom:30px;">
        <div>
            <h1>Pretraživanje poslova</h1>
            <form action="/jobs" method="post">
                <label >Broj prikazanih oglasa:</label>
                <input type="number" name="count" placeholder="Broj oglasa">
                <input type="text" id="locationInput" name="location" placeholder="Unesite lokaciju">
                <input type="text" id="industryInput" value="engineering" name="jobIndustry" placeholder="Unesite industriju">
                <input type="text" name="tag" placeholder="Oznaka">
                <input type="submit" name="callApi" value="dohvati poslove od api servisa">
                <input type="submit" name="callDb" value="dohvati poslove iz baze">
            </form>
        </div>

        {% if apiJobs %}
        <div>
            <h1>Poslovi api servis</h1>
            <table class="scrolldown">
                <tr>
                    <th>Id</th>
                    <th>Šifra_posla</th>
                    <th>Naslov_posla</th>
                    <th>Naziv_tvrtke</th>
                    <th>URL</th>
                    <th>Industrija</th>
                    <th>Lokacija</th>
                    <th>Strucna_sprema</th>
                    <th>Opis_posla</th>
                    <th>Datum_objave</th>
                </tr>
                {% for job in apiJobs %}
                <tr>
                    <td>{{ job.id }}</td>
                    <td>{{ job.sifra_posla }}</td>
                    <td>{{ job.naslov_posla }}</td>
                    <td>{{ job.naziv_tvrtke }}</td>
                    <td>{{ job.url_posla }}</td>
                    <td>{{ job.industrija }}</td>
                    <td>{{ job.lokacija }}</td>
                    <td>{{ job.strucna_sprema }}</td>
                    <td>{{ job.opis_posla }}</td>
                    <td>{{ job.datum_objave }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <p>Nema podataka za prikazivanje.</p>
        {% endif %}

        <div>
            {% if dbJobs %}
            <h1>Poslovi iz baze</h1>
            <table class="scrolldown">
                <tr>
                    <th>Id</th>
                    <th>Šifra_posla</th>
                    <th>Naslov_posla</th>
                    <th>Naziv_tvrtke</th>
                    <th>URL</th>
                    <th>Industrija</th>
                    <th>Lokacija</th>
                    <th>Strucna_sprema</th>
                    <th>Opis_posla</th>
                    <th>Datum_objave</th>
                </tr>
                {% for job in dbJobs %}
                <tr>
                    <td>{{ job.id }}</td>
                    <td>{{ job.sifra_posla }}</td>
                    <td>{{ job.naslov_posla }}</td>
                    <td>{{ job.naziv_tvrtke }}</td>
                    <td>{{ job.url_posla }}</td>
                    <td>{{ job.industrija }}</td>
                    <td>{{ job.lokacija }}</td>
                    <td>{{ job.strucna_sprema }}</td>
                    <td>{{ job.opis_posla }}</td>
                    <td>{{ job.datum_objave }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}

        {% endif %}

        </div>
    </content>

{% endblock %}

{% block podnozje %}
    autor: FF
{% endblock %}